{#<h1>WELCOME!</h1>#}
{#<div>#}
{#    {{ dump(title) }}#}
{#</div>#}

{#{% if title %}#}
{#    <p>{{ title }} is a movie</p>#}
{#{% else %}#}
{#    <p>#}
{#        Oops, no title has been set.#}
{#    </p>#}
{#{% endif %}#}

{% extends "base.html.twig" %}

{% block title %}
    Movies Page
{% endblock %}

{% block body %}
    <h1 class="bg-blue-500 text-2xl text-center font-bold">Woohoo.</h1>
    {{ _charset }} - {{ author }}
    {% for movie in movies %}
        <li> {{ movie }} </li>
    {% endfor %}
    <img src="{{ asset('images/image1.jpg') }}" alt="">
{% endblock %}
